
*{
	margin: 0;
	padding: 0;
}

.title{
	margin: 100px 0;

}

.title h1{
	font-size: 36px;
	font-weight: 700;
	font-family: 'PT serif'
	letter-spacing: -0.045em;
	line-height: 48px;
}

.who-we-are {

	margin-right: 30px;
	align-items: : flex-start;
	justify-content: flex-start;
}

.who-we-are .short-text {

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}

.long-text {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	max-width: 439px
}

.cards img{

	max-width: 238px
}

.role{
	writing-mode: vertical-rl;
	text-orientation: mixed;
	margin: 0 0;
}

.role p {
	font-family: 'PT Serif';
	font-size: 12px;
}

.card-name {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	margin-top: 10px
}


footer{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #BDBDBD;
	margin: 100px 0 25px 0;
}

